{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="about-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h1>About Us</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="left-image">
                        <img src="{% static 'images/banner-bg.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-content">
                        <h4>Rent a car</h4>
                        <p>This is a car rental website.You can login and rent a car of your choice.You can also track
                            your orders</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}