{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="contact-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h1>Contact Us</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.0407858785984!2d80.15123961473891!3d12.840640990941862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5259af8e491f67%3A0x944b42131b757d2d!2sVellore%20Institute%20of%20Technology%20-%20VIT%20Chennai!5e0!3m2!1sen!2sin!4v1636686227089!5m2!1sen!2sin"
                                width="1200" height="450" style="border:0;" allowfullscreen=""
                                loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}