{% extends 'base.html' %}
{% block content %}
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="caption">
                        <h2 class="display-2">Welcome to Rent a car!</h2>
                        <div class="line-dec"></div>
                        <br>
                        {% if user.is_authenticated %}
                            <h4>Your one stop destination for renting a car</h4>
                        {% else %}
                            <p class="lead">Sign in or Sign up to proceed</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}