{% extends 'base.html' %}
{% block title %}Log in{% endblock %}
{% block content %}
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="caption">
                        <h2>Sign in to your Account!</h2>
                        <div class="line-dec"></div>
                        <br>
                        <form action="../accounts/login" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputEmail1">Username</label>
                                <input type="text" class="form-control" name="username" id="exampleInputEmail1"
                                       placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                                       placeholder="Enter Password">
                            </div>
                            <div class="form-group">
                                {% for message in messages %}
                                    <input type="text" class="form-control btn btn-outline-danger" name="message"
                                           placeholder="*" value="{{ message }}" readonly>
                                {% endfor %}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}