{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="featured-page">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h1>Cars available for rent</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="featured container no-gutter">
        <div class="row posts">
            {% for car in cars %}
                <div class="item new col-sm-4">
                    <a>
                        <div class="featured-item">
                            <img src="{{ car.image.url }}" alt="Image">
                            <hr>
                            <h3 class="display-6">{{ car.name }}</h3>
                            <h4>Size:{{ car.category }}</h4>
                            <h2 style="display: inline-block">₹{{ car.price }}</h2>
                            <h4 style="display: inline-block">/week</h4>
                            <form method="post" action="payment/">
                                {% csrf_token %}
                                <input type="hidden" id="id" name="id" value="{{ car.id }}">
                                <input class="btn btn-success" type="submit" value="Rent now">
                            </form>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}